cdsapi==0.7.0
cfgrib==0.9.14.0
dask==2025.5.1
geopandas==1.1.1
matplotlib==3.8.3
netCDF4==1.6.5
numpy==2.3.2
ocha_stratus==0.1.4
pandas==2.3.1
pyarrow==17.0.0
Requests==2.32.4
rioxarray==0.19.0
scipy==1.16.1
seaborn==0.13.2
shapely==2.0.3
tqdm==4.66.4
xarray==2025.6.1
