{% extends "base.html" %}

{% block content %}
<div>
  <p>Cher Coordonateur humanitaire, chers collègues,</p>
  <p>
    The riverine flooding trigger of the OCHA coordinated anticipatory action framework for floods in Nigeria has been reached in line with streamflow forecasts issued by GloFAS and/or Google on {{ pub_date }}.
  </p>
  <p>
    All activities in line with the framework document [link] should now commence. OCHA may convene a meeting of the participating partners.
  </p>

  <p>Best wishes and good luck,</p>
  <p>OCHA Centre for Humanitarian Data</p>
</div>
{% endblock content %}
