<div>
  <div style="font-size:13px;padding:6px 10px;background-color:#F0F0F0;color:#000000;font-style:italic;margin-bottom:16px;">
    Ce système surveille les prévisions GloFAS du débit du fleuve Chari à N'Djamena pour le
    <a href="https://www.unocha.org/publications/report/chad/cadre-de-laction-anticipatoire-inondations-au-tchad-version-revisee-du-31-juillet-2025">cadre d'action anticipatoire des inondations au Tchad</a>.
    Des mises à jour sont envoyées chaque lundi, ou lorsque le seuil de déclenchement est atteint ou s'en approche.
  </div>
  <h2>{{ trigger_status }} — {{ pub_date }}</h2>
  {% block content %}{% endblock %}
</div>
