{% extends "base.html" %}

{% block content %}
<div style="font-size:11px;padding: 6px 10px 6px 10px;background-color:#F0F0F0;color:#000000;font-style:italic">
  <p style="margin:0;">
    Cet e-mail est purement consultatif et ne sert pas d'avis officiel pour le cadre d'action anticipatoire. Les avis officiels d'activation sont envoyés par un autre e-mail.
  </p>
</div>
<div>
  <p>Chers collègues,</p>
  <p>
    Trouvez ci-dessous un graphique des prévisions du débit du fleuve Chari à N'Djamena, émises par <a href="https://global-flood.emergency.copernicus.eu/">GloFAS</a> aujourd'hui. Rappelez que le cadre est activé si les prévisions dépassent le seuil de <b>4 542 m<sup>3</sup>/s</b> dans un délai de :
  </p>
  <ul>
    <li>Déclencheur d'action : ≤ 10 jours</li>
    <li>Déclencheur de mobilisation : ≤ 14 jours</li>
  </ul>
  <img src="cid:{{ chart_cid }}" width="600"/>
  <p>
    Le code et la documentation pour les analyses du cadre, et pour ce système de suivi, sont disponibles <a href="https://github.com/OCHA-DAP/pa-aa-tcd-flooding">ici</a>.
  </p>
  <p>Meilleures salutations,</p>
  <p>Centre de données humanitaires OCHA</p>
</div>
{% endblock content %}
