{% extends "base.html" %}

{% block content %}
<div>
  <p>Cher coordonateur humanitaire, chers collègues,</p>
  <p>
    Le seuil du déclencheur de mobilisation du cadre d'action anticipatoire pour les inondations fluviales au Tchad a été atteint, conformément aux prévisions émises par GloFAS au {{ pub_date }}.
  </p>
  <p>
    Les activités de mobilisation conformes au <a href="https://www.unocha.org/anticipatory-action">document du cadre</a> doivent maintenant commencer. Le financement du CERF destiné aux agences des Nations unies est en train d'être débloqué de manière automatique. OCHA peut convoquer une réunion des partenaires participants.
  </p>
  <p>Meilleures salutations et bonne chance,</p>
  <p>Centre de données humanitaires OCHA</p>
</div>
{% endblock content %}
